#createPostModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#createPostModal .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#createPostModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#createPostModal .close:hover,
#createPostModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#createPostModal textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
}

#createPostModal button {
    float: right;
    margin-top: 10px;
}
